<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <!-- Main Style -->
            <link rel="stylesheet" href="{{ asset('style.css') }}">

            <!-- Skins -->
            <link rel="stylesheet" href="{{ asset('css/skins/skins.css') }}">

            <!-- Responsive Style -->
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">

            <!-- Favicons -->
            <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">

        {% endblock %}
    </head>

        <body>

        <header>
            {% block header %}
                {{ include('layouts/header.html.twig') }}
            {% endblock %}
        </header>

        <div class="go-up"><i class="icon-chevron-up"></i></div>

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.1.3.min.js') }}"></script>
            <script src="{{asset('js/html5.js')  }}"></script>
            <script src="{{ asset('js/twitter/jquery.tweet.js') }}"></script>
            <script src="{{ asset('js/jflickrfeed.min.js') }}"></script>
            <script src="{{ asset('js/jquery.inview.min.js') }}"></script>
            <script src="{{ asset('js/jquery.tipsy.js') }}"></script>
            <script src="{{ asset('js/tabs.js') }}"></script>
            <script src="{{ asset('js/jquery.flexslider.js') }}"></script>
            <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
            <script src="{{ asset('js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
            <script src="{{ asset('js/jquery.scrollTo.js') }}"></script>
            <script src="{{ asset('js/jquery.nav.js') }}"></script>
            <script src="{{ asset('js/tags.js') }}"></script>
            <script src="{{ asset('js/jquery.bxslider.min.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}

        {{ include('layouts/footer.html.twig') }}

        </body>
</html>
