{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('article') }}">back to list</a></button>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
