{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    {% for article in articles %}
        <section class="container main-content">
            <div class="row">
                <div class="col-md-9">
                    <article class="post clearfix">
                        <div class="post-inner">
                            <h2 class="post-title"><span class="post-type"></span><a href="single_post.html">{{ article.title }}</a></h2>
                            <div class="post-meta">
                                <span class="meta-date"><i class="icon-time"></i>{{ article.createdAt|date("m/d/y") }}</span>
                                <span class="meta-comment"><i class="icon-comments-alt"></i><a href="#">15 comments</a></span>
                            </div>
                            <div class="post-content">
                                <p>{{ article.content }}</p>
                                <a href="{{ path('article_show',{'id': article.id}) }}" class="post-read-more button color small">Continue reading</a>
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="post-read-more button color small">Edit</a>
                                        {{ include('article/_delete_form.html.twig') }}
                                    {% endif %}
                                {% endif %}
                            </div><!-- End post-content -->
                        </div><!-- End post-inner -->
                    </article><!-- End article.post -->


                </div><!-- End main -->
            </div><!-- End row -->
        </section><!-- End container -->
    {% endfor %}

{% endblock %}
