{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <section class="container main-content page-full-width">
        <div class="row">
            <div class="col-md-12">
                <article class="post single-post clearfix">
                    <div class="post-inner">
                        <h2 class="post-title"><span class="post-type"><i class="icon-film"></i></span>{{ article.title }}</h2>
                        <div class="post-meta">
                            <span class="meta-date"><i class="icon-time"></i>{{ article.createdAt|date("m/d/y") }}</span>
                            <span class="meta-comment"><i class="icon-comments-alt"></i><a href="#">15 comments</a></span>
                        </div>
                        <div class="post-content">
                            <p>{{ article.content }}</p>
                        </div><!-- End post-content -->
                        <div class="clearfix"></div>
                    </div><!-- End post-inner -->
                </article><!-- End article.post -->


                <div id="commentlist" class="page-content">
                    <div class="boxedtitle page-title"><h2>Comments ( <span class="color">5</span> )</h2></div>
                    <ol class="commentlist clearfix">
                        <li class="comment">
                            <div class="comment-body clearfix">
                                <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                                <div class="comment-text">
                                    <div class="author clearfix">
                                        <div class="comment-meta">
                                            <span>admin</span>
                                            <div class="date">January 15 , 2014 at 10:00 pm</div>
                                        </div>
                                        <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                                    </div>
                                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment">
                                    <div class="comment-body clearfix">
                                        <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                                        <div class="comment-text">
                                            <div class="author clearfix">
                                                <div class="comment-meta">
                                                    <span>admin</span>
                                                    <div class="date">January 15 , 2014 at 10:00 pm</div>
                                                </div>
                                                <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                                            </div>
                                            <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="comment-body clearfix">
                                                <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                                                <div class="comment-text">
                                                    <div class="author clearfix">
                                                        <div class="comment-meta">
                                                            <span>admin</span>
                                                            <div class="date">January 15 , 2014 at 10:00 pm</div>
                                                        </div>
                                                        <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                                                    </div>
                                                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- End children -->
                                </li>
                                <li class="comment">
                                    <div class="comment-body clearfix">
                                        <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                                        <div class="comment-text">
                                            <div class="author clearfix">
                                                <div class="comment-meta">
                                                    <span>admin</span>
                                                    <div class="date">January 15 , 2014 at 10:00 pm</div>
                                                </div>
                                                <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                                            </div>
                                            <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul><!-- End children -->
                        </li>
                        <li class="comment">
                            <div class="comment-body clearfix">
                                <div class="avatar"><img alt="" src="http://placehold.it/60x60/FFF/444"></div>
                                <div class="comment-text">
                                    <div class="author clearfix">
                                        <div class="comment-meta">
                                            <span>admin</span>
                                            <div class="date">January 15 , 2014 at 10:00 pm</div>
                                        </div>
                                        <a class="comment-reply" href="#"><i class="icon-reply"></i>Reply</a>
                                    </div>
                                    <div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol><!-- End commentlist -->
                </div><!-- End page-content -->

                <div id="respond" class="comment-respond page-content clearfix">
                    <div class="boxedtitle page-title"><h2>Leave a reply</h2></div>
                    <form action="" method="post" id="commentform" class="comment-form">
                        <div id="respond-inputs" class="clearfix">
                            <p>
                                <label class="required" for="comment_name">Name<span>*</span></label>
                                <input name="author" type="text" value="" id="comment_name" aria-required="true">
                            </p>
                            <p>
                                <label class="required" for="comment_email">E-Mail<span>*</span></label>
                                <input name="email" type="text" value="" id="comment_email" aria-required="true">
                            </p>
                            <p class="last">
                                <label class="required" for="comment_url">Website<span>*</span></label>
                                <input name="url" type="text" value="" id="comment_url">
                            </p>
                        </div>
                        <div id="respond-textarea">
                            <p>
                                <label class="required" for="comment">Comment<span>*</span></label>
                                <textarea id="comment" name="comment" aria-required="true" cols="58" rows="10"></textarea>
                            </p>
                        </div>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" value="Post Comment" class="button small color">
                        </p>
                    </form>
                </div>

                <div class="post-next-prev clearfix">
                    <p class="prev-post">
                        <a href="#"><i class="icon-double-angle-left"></i>&nbsp;Prev post</a>
                    </p>
                    <p class="next-post">
                        <a href="#">Next post&nbsp;<i class="icon-double-angle-right"></i></a>
                    </p>
                </div><!-- End post-next-prev -->
            </div><!-- End main -->
        </div><!-- End row -->
    </section><!-- End container -->

    <a class="post-read-more button color small" href="{{ path('article') }}">back to list</a>

    {#<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}

{% endblock %}
